<!doctype html>

<html lang="en">
<title>CTA DETECTION RESULT</title>

<script>
function showDiv() {
  document.getElementById('submit').style.display = "none";
  document.getElementById('loadingGif').style.display = "block";

}
</script>

<h2>Your CTA Detection Result</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages_A %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

{% if filenames_2d %}
        <h3>    2D Output </h3>
	<div>
		{% for filename in filenames_2d %}
       		<li> {{filename}} <br> <img src="{{ url_for('display_image',path=session_id, filename=filename) }} " aria-label="Result 2d Images" style="width: 100%"> </li>
		{% endfor %}
	</div>
   
{% endif %}

{% if filenames_3d %}
        <h3>    3D Output </h3>
        <div>
		<h3>  Download your 3D result here </h3>
                {% for filename in filenames_3d %}
                <li> <a href="http://129.106.31.45:7790/papaya/{{session_id}}/{{filename}}" > {{filename}} </a>    Preview  <a href="http://129.106.31.45:7790/papaya/{{session_id}}/index_{{filename}}.html" target="_blank" rel="noopener noreferrer" > here </a>  </li>
                {% endfor %}

        </div>
{% endif %}


{% if not finished  %}
        <h3>  Your submitted job is in progressing. Please refresh this patge to check the status</h3>
{% endif %}

{% if finished  %}
        <h3>  Your submitted job is done. Please download your result in 24 hours</h3>
{% endif %}
</html>

