<!doctype html>
<title>MIDistNet</title>

<script>

function CreateUUID() {
  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
    return v.toString(16);
  });
}

function genID() {
  document.getElementById('task_id').value  =  CreateUUID()
}



function submitForm() {
}

</script>

<h2>Enter the below information to initial a new collaboration task</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>


<form method="post" action="/init" enctype="multipart/form-data" >
    <p>
	
        <label for="taskid">Task ID:</label> <br>
	<input type="text" id="task_id" name="task_id" autocomplete="off" required> 
        <button type="button" onclick="genID()" > Generate task ID </button><br><br> 
        <label for="total_clients">Total Clients:</label> 
        <input type="number" name="total_clients" autocomplete="off" required> <br>
        <label for="core">Core Function:</label> 
        <input type="text" id="core" name="core_function" autocomplete="off">  <br>
        <label for="serverIP">Server IP:</label> 
        <input type="text" id="Server_IP" name="server_ip" value="{{ server_ip }}" autocomplete="off">  <br>
        <label for="serverport">Server Port from:</label> 
        <input type="text" id="Server_port_from" name="server_port_from" value="{{server_port_from}}" autocomplete="off">

    </p>
    
    <p>
       <input type="submit" id="submit" value="Submit" onclick="submitForm()" >
    </p>
</form>
